#title {
    text-align: center;
}

#mineField > button {
    background-color:lightgrey;
    border: 1px solid black;
    height:2.2em;
    width: 2.2em;
    display: table-cell;
    vertical-align: middle;
}

button > img {
    height: 25px;
    width: 25px;
}

#mineField {
    text-align: center;
}

form {
    margin-left: 30%;
}

input {
    height: 3%;
    width: 12%;
    border: 1px solid black;
}

#logo {
    height:70px ;
    width: 250px;
}